.label {
	width: 100%;
    display: flex;
	flex-flow: row nowrap;
    justify-content: space-between;
	line-height: 2em;
	margin: 5px;
	color: #333;
	font-size: 1em;
	line-height: 32px;
}
.label span {
	width: 200px;
	text-align: left;
   
}
.input {
flex: 1;
padding: 3px 5px;
font-size: 1em;
margin-left: 15px;
border: 1px solid #ccc;
border-radius: 3px;

}