
.outerLabel {
	width: 100%;
    display: flex;
	flex-flow: row nowrap;
    justify-content: flex-start;
	align-items: flex-start;
	line-height: 2em;
	margin: 5px;
	color: #333;
	font-size: 1em;
	line-height: 32px;
}
.outerLabel span {
	width: 200px;
	text-align: left;
 
}
