
.button{
   min-width: 100px;
   padding: 10px 10px;
   text-transform: uppercase;
    margin: 20px;
  
   border: none;
   border-radius: 3px;
   color: #fff;
}
.submit{
    background-color: rgb(79, 104, 160);
    color: #fff;
}
.reset{
   background-color: rgb(139, 146, 163);
   color:#000
}

.button:disabled{
   opacity: 0.5;
}