.label {
	width: 100%;
    display: flex;
	flex-flow: row nowrap;
    justify-content: flex-start;
	align-items: center;
	line-height: 2em;
	margin: 5px;
	color: #333;
	font-size: 1rem;
	line-height: 2rem;
   	}

div>.label {
	flex-direction: row-reverse;

	}
span {
	width:200px;
	text-transform: capitalize;
	text-align: left;
   }

.input {
flex: 1;
font-size: 1rem;
border: 1px solid #ccc;
}

