.label {
	position: relative;
	width: 100%;
    display: flex;
	flex-flow: row nowrap;
    justify-content: space-between;
	align-items: center;
	line-height: 2em;
	margin: 10px;
	color: #333;
	font-size: 1em;
	line-height: 32px;
}
span {
	width: 200px;
	text-align: left;
   
}
.input {
flex: 1;
padding: 3px 5px;
font-size: 1em;
margin-left: 15px;
border: 1px solid #ccc;
border-radius: 3px;
}

.error{
	width:auto;
	position: absolute;
   right: 5px;
	color: red;
}